
$color_header_footer_bg: black;
$color_header_footer: #ddf;

$color_links_header_footer: #ddf;
$color_links_menus_search_container: black;
$color_links_hover_menus_search_container: #444;
$color_links: #444;
$color_links_hover: black;
$color_links_visited: $color_links;

